[submodule "FlashTools/Thor"]
	path = FlashTools/Thor
	url = https://github.com/Samsung-Loki/Thor.git
[submodule "FlashTools/Heimdall"]
	path = FlashTools/Heimdall
	url = https://git.sr.ht/~grimler/Heimdall
	branch = master
[submodule "FlashTools/OdinV4"]
	path = FlashTools/OdinV4
	url = https://github.com/Adrilaw/OdinV4
